body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #274C77;
    font-family: Helvetica, sans-serif;
    color: black;
}

.calc-body {
    width: 500px;
    height: 700px;
    background-color: #457B9D;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.displayCont {
    width: 445px;
    height: 20%;
    margin-top: 25px;
    background-color: #F1FAEE;
    border-radius: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border: 2px solid #274C77;
    flex-wrap: wrap;
}

.display {
    padding: 10px;
    font-size: 40px;
    max-width: 440px;
    word-break: break-all;
    text-align: right;
}

.clear {
    width: 222.5px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.delete {
    width: 222.5px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.numbers {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    height: 60%;
    margin-bottom: 25px;
    align-items: center;
    justify-content: center;
}

.numbers div {
    width: 24%;
    height: 24%;
    padding: 0;
    margin: 2px;
    box-sizing: border-box;
    display: flex;
}

.numButton {
    height: 100%;
    width: 100%;
    background-color: #A8DADC;
    border: 2px solid #1D3557;
    border-radius: 10px;
    font-size: 20px;
    color: black;
}

.delButton {
    width: 99%;
    height: 100%;
    background-color: #E63946;
    border: 2px solid #1D3557;
    border-radius: 10px;
    font-size: 20px;
    color: black;
}

.clearButton {
    width: 99%;
    height: 100%;
    background-color: #A8DADC;
    border: 2px solid #1D3557;
    border-radius: 10px;
    font-size: 20px;
    color: black;
}